html {
    height: 100%;
}


body {
    background-color: rgb(66, 46, 82);
    background-image: url(images/z0fc5qn4jjl41.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




header {
    height: 120px;
    width: 960px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.39);
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    width: 960px;
    text-align: center;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.705);
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

h1 {
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
a {
    color: white;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;

}

.Sheoldred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.Eldlich {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.Fear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
}

h2 {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.Xhilag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

.wrapper {
    margin: 15px auto;
    max-width: 1100px;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}
